$dFlex: flex
$light: #fff
$center: center
$space-between: space-between
$pointer: pointer
$padding0: 0
$capitalize: capitalize
$dark: #3A455D
$relative: relative
$absolute: absolute
$column: column
$tbLight: #EFEFEF