// @import "fonts"
@import "base"
@import "vars"

// myStyles

body 
    background-color: #EFEFEF

.container 
    width: 100%
    max-width: 1920px

.center 
    width: 100%
    max-width: 1360px

a 
    text-decoration: none
    color: $light
    font-size: 20px

ul 
    list-style: none

.d-flex 
    display: $dFlex

.d-flex--fullcenter
    display: $dFlex
    justify-content: $center
    align-items: $center

.justify-content--between
    justify-content: $space-between

.position-rel 
    position: $relative

.position-abs 
    position: $absolute

.flex-column 
    flex-direction: $column


@import "media"
