@import '../../../sass/main'

.fishes 
    h4 
        margin-bottom: 84px
        font-size: 22px
        font-family: 'Muli-SemiBold'
    .block1 
        width: 103px
        height: 221px
        background: #00E4E4
        opacity: 0.59
        top: -40px
        right: -30px
    .block2 
        width: 6px
        height: 272px
        background: #00E4E4
        bottom: 0
        left: 250px
    ul 
        margin: 0
        padding: 0
        margin-left: 90px
        li 
            display: flex
            span 
                width: 7px
                height: 7px
                border-radius: 50%
                background: $dark
                display: inline-block
                margin-right: 19px
                margin-top: 6px
            p 
                margin-top: 0
                width: 830px
                font-size: 19px
                font-family: 'Muli-Regular'
                color: #3A455D
                &:nth-last-child(1)
                &:nth-last-child(2)
                    margin-bottom: 94px
                &:last-child
                    margin-bottom: 148px
                    
.fishes2 
    p 
        width: 860px
        font-size: 19px
        font-family: 'Muli-Regular'
        color: #3A455D
    .block3 
        width: 103px
        height: 221px
        background: #FF4D36
        opacity: 0.59
        top: -40px
        right: -30px
    .block4 
        width: 475px
        height: 6px
        background: #FF4D36
        bottom: 77px
        left: -255px